# Environment secrets
.env

# SQLite Database
*.sqlite
*.sqlite3
*.db

# Uploaded Files
uploads/*
!uploads/.gitkeep

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.log

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
